node_modules/
dist/
*.tsbuildinfo
coverage/
.DS_Store
*.log
docs-site/
docs/api/
.vitest/
/release/
/distribution/*/modules/
/distribution/*/src/
/distribution/*/etc/
/distribution/*/README.md
/distribution/*/LICENSE
/distribution/*/STABILITY.md
.vitest-reports/
